<spo-progress-modal [visivel]="showProgress"></spo-progress-modal>
<spo-investimento-filtro (filterChange)="atualizarFiltro($event, 1)" ></spo-investimento-filtro>
<div class="valoresCard">
    <spo-valor-card 
        titulo="Planejado" 
        nomeIcone="paid" 
        [valor]="totalPlanejado"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Contratado" 
        nomeIcone="paid" 
        [valor]="totalContratado"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Autorizado" 
        nomeIcone="paid" 
        [valor]="totalAutorizado"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Autorizado - Contratado" 
        nomeIcone="paid" 
        [valor]="totalDifAutorizadoContratado"
    ></spo-valor-card>
</div>
<div id="cabecalho">
    <div id="title">
        <p>Relatório ({{qtDados}})</p>
    </div>
    <div id="acoes">
        <button class="btn-acao" (click)="gerarRelatorio()"><fa-icon [icon]="downloadIcon"></fa-icon></button>
    </div>
</div>
<div id="listaDados" class="displayLista">
    <spo-tira-dado-detalhado *ngFor="let inv of data" [dadoConsolidado]="inv"></spo-tira-dado-detalhado>
</div>
<spo-barra-paginacao [larguraPaginacao]="larguraPaginacao" [quantidade]="qtDados" (onPageChange)="executar(recarregarLista($event)) "></spo-barra-paginacao>