<spo-progress-modal [visivel]="showProgress"></spo-progress-modal>
<spo-investimento-filtro (filterChange)="atualizarFiltro($event, 1)" ></spo-investimento-filtro>
<div id="valores">
    <spo-valor-card 
        titulo="Previsto"
        cor="var(--cor-primaria)"
        nomeIcone="monitoring" 
        [valor]="0"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Contratado" 
        cor="var(--cor-primaria)"
        nomeIcone="handshake" 
        [valor]="0"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Orçado" 
        cor="var(--cor-sigefes)"
        nomeIcone="description" 
        [valor]="0"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Autorizado" 
        cor="var(--cor-sigefes)"
        nomeIcone="check_circle" 
        [valor]="0"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Empenhado" 
        cor="var(--cor-sigefes)"
        nomeIcone="gavel" 
        [valor]="0"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Liquidado" 
        cor="var(--cor-sigefes)"
        nomeIcone="checkbook" 
        [valor]="0"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Pago" 
        cor="var(--cor-sigefes)"
        nomeIcone="paid" 
        [valor]="0"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Disp. S/ Reserva" 
        cor="var(--cor-sigefes)"
        nomeIcone="savings" 
        [valor]="0"
    ></spo-valor-card>
</div>
<div id="cabecalho">
    <div id="title">
        <p>Investimentos ({{qtDados}})</p>
        <div id="pesquisa">
            <fa-icon [icon]="searchIcon"></fa-icon>
            <input type="text" [formControl]="txtBusca" placeholder="Procurar" class="pesquisa" />
        </div>
    </div>
    <div id="acoes">
        <!-- <div id="display-grade" class="botaoAcao">
            <img src="assets/img/grid-layout.svg" width="20px">
        </div> -->
        <!-- <div id="display-lista" class="botaoAcao ativo">
            <img src="assets/img/align-left-branco.svg" width="20px">
        </div> -->
    </div>
</div>
<div id="listaDados" class="displayLista">
    <spo-tira-dado-consolidado *ngFor="let inv of data" [dadoConsolidado]="inv"></spo-tira-dado-consolidado>
</div>
<spo-barra-paginacao [larguraPaginacao]="larguraPaginacao" [quantidade]="qtDados" (onPageChange)="executar(recarregarLista($event)) "></spo-barra-paginacao>