<div id="content">
    <section>
        <header>
            <h2>Objeto</h2>
            <button (click)="abrirEditar()" *ngIf="permissao?.editar" ><fa-icon [icon]="editIcon"></fa-icon></button>
        </header>
        <main class="objInfo">
            <div class="campo">
                <div class="label">
                    <h3>GND</h3>
                </div>
                <div class="value">
                    <p>{{objeto?.gnd}} ({{ objeto?.gnd && ( objeto.gnd === 4 ? 'Investimento' : 'Inversão Financeira' )}})</p>
                </div>
            </div>
            <div class="campo">
                <div class="label">
                    <h3>Nome</h3>
                </div>
                <div class="value">
                    <p>{{objeto?.nome}}</p>
                </div>
            </div>
            <div class="campo">
                <div class="label">
                    <h3>Descrição</h3>
                </div>
                <div class="value">
                    <p>{{objeto?.descricao}}</p>
                </div>
            </div>
            <div class="campo">
                <div class="label">
                    <h3>Unidade Orçamentária</h3>
                </div>
                <div class="value">
                    <p>{{objeto?.codUnidade}} - {{objeto?.siglaUnidade}}</p>
                </div>
            </div>
            <div class="campo">
                <div class="label">
                    <h3>Responsável</h3>
                </div>
                <div class="value">
                    <p>{{objeto?.responsavel}}</p>
                </div>
            </div>
            <div class="campo">
                <div class="label">
                    <h3>Microregião(s) Atendidas(s)</h3>
                </div>
                <div class="value">
                    <p >{{objeto?.microrregiaoNome}}</p>
                </div>
            </div>
            <div class="campo">
                <div class="label">
                    <h3>Informações Complementares</h3>
                </div>
                <div class="value">
                    <p>{{objeto?.infoComplementar}}</p>
                </div>
            </div>
            <div class="campo">
                <div class="label">
                    <h3>Plano Orçamentário</h3>
                </div>
                <div class="value">
                    <p>{{objeto?.codPlano}} - {{objeto?.nomePlano}}</p>
                </div>
            </div>
            <div class="campo">
                <div class="label">
                    <h3>Área Temática</h3>
                </div>
                <div class="value">
                    <p>{{objeto?.nomeArea}}</p>
                </div>
            </div>
            <div class="campo">
                <div class="label">
                    <h3>Plano (s)</h3>
                </div>
                <div class="value">
                    <p *ngIf="objeto?.tiposPlano?.length === 0; else planosLista" >Não Definido - ND</p>
                    <ng-template #planosLista>
                        <p *ngFor="let plano of objeto?.tiposPlano">{{plano.nome}} - {{plano.sigla}}</p>
                    </ng-template>
                </div>
            </div>
            <div class="campo">
                <div class="label">
                    <h3>Contrato</h3>
                </div>
                <div class="value">
                    <p>{{objeto?.contrato}}</p>
                </div>
            </div>
            <div class="campo">
                <div class="label">
                    <h3>Solicitado em</h3>
                </div>
                <div class="value">
                    <p>{{objeto?.timestamp | date : "dd/MM/yyyy 'às' hh:mm a"}}</p>
                </div>
            </div>
        </main>
    </section>
    <table>
        <thead>
            <tr>
                <th>Valores</th>
                <th>Planejado</th>
                <th>Contratado</th>
                <!-- <th>GND</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let linha of linhas"
                [ngClass]="'nivel' + linha.nivel">
                <td>{{linha.label}} <span>{{linha.nome}}</span></td>
                <td><span title="{{linha.planejado | customCurrency}}">R$ {{linha.planejado | numeroResumido}}</span></td>
                <td><span title="{{linha.contratado | customCurrency}}">R$ {{linha.contratado | numeroResumido}}</span></td>
                <!-- <td>{{linha.gnd}}</td> -->
            </tr>
        </tbody>
    </table>
</div>
<footer>
    <app-label-dropdown [items]="objeto?.alterador" *ngIf="objeto?.alterador && objeto.alterador.length > 0" >
        <ng-template #item let-item>
            <p>Ultima Alteração:</p>
            <p>Feita por: {{item?.nomeAlterador}}</p>
            <p>Em: {{item?.timestamp | date : 'dd/MM/yyyy hh:mm a'}}</p>
        </ng-template>

        <ng-template #itemList let-item>
            <p>Feita por: {{item?.nomeAlterador}}</p>
            <p>Em: {{item?.timestamp | date : 'dd/MM/yyyy hh:mm a'}}</p>
        </ng-template>

    </app-label-dropdown>
    

    <app-label-dropdown [items]="objeto?.revisor" *ngIf="objeto?.revisor && objeto.revisor.length > 0 " >
        <ng-template #item let-item>
            <p>Ultima revisão:</p>
            <p>Feita por: {{item?.nomeRevisor}}</p>
            <p>Em: {{item?.timestamp | date : 'dd/MM/yyyy hh:mm a'}}</p>
        </ng-template>

        <ng-template #itemList let-item>
            <p>Feita por: {{item?.nomeRevisor}}</p>
            <p>Em: {{item?.timestamp | date : 'dd/MM/yyyy hh:mm a'}}</p>
        </ng-template>

    </app-label-dropdown>
</footer>
