<div id="tira">
    <div id="invNome">
        <div id="label">Investimento</div>
        <div id="value"><span [title]="investimento.nome">{{investimento.nome}}</span></div>
    </div>
    <div>
        <div id="label">Unidade</div>
        <div id="value">teste</div>
    </div>
    <div>
        <div id="label">Código P.O</div>
        <div id="value">teste</div>
    </div>
    <div>
        <div id="label">Previsto</div>
        <!-- <div id="value"><span [title]="investimento.totalPrevisto | customCurrency">R$ {{investimento.totalPrevisto | numeroResumido }}</span></div> -->
        <div id="value">teste</div>
    </div>
    <div>
        <div id="label">Contratado</div>
        <div id="value">teste</div>
        <!-- <div id="value"><span [title]="investimento.totalContratado | customCurrency">R$ {{investimento.totalContratado | numeroResumido }}</span></div> -->
    </div>
    <div>
        <div id="label">Autorizado</div>
        <div id="value">teste</div>
        <!-- <div id="value"><span [title]="investimento.totalAutorizado | customCurrency">R$ {{investimento.totalAutorizado | numeroResumido }}</span></div> -->
    </div>
    <div>
        <div id="label">Empenhado</div>
        <div id="value">teste</div>
        <!-- <div id="value"><span [title]="investimento.totalEmpenhado | customCurrency">R$ {{investimento.totalEmpenhado | numeroResumido }}</span></div> -->
    </div>
    <div>
        <div id="label">Disp. S/ Reserva</div>
        <!-- <div id="value"><span [title]="investimento.totalDisponivel | customCurrency">R$ {{investimento.totalDisponivel | numeroResumido }}</span></div> -->
        <div id="value">teste</div>
    </div>
    
</div>