<div id="content">
    <div id="titleMain">
        <p id="title">{{title}}</p>
        <p id="breadcrumb"><spo-breadcrumb></spo-breadcrumb></p>
    </div>
    <div id="acoes">
        <div id="objetos" *ngIf="temAcessoAvaliacao" class="botaoAcao" (click)="redirectTo('home/inventario/objetos/avaliacao')"> 
                <img src="assets/img/hammer.svg" width="20px">
                <div *ngIf="qtObjetos > 0">{{qtObjetos}}</div>
            </div>
        </div>
    <div id="userInfo" (click)="toggleMenuUser(!this.showMenuUser)">
        <div #userImg id="userImg">
            <img [src]="userImage" *ngIf="userImage; else iniciaisElem" />
            <ng-template #iniciaisElem>{{iniciais}}</ng-template> 
        </div>
        <div id="userData">
            <p>{{user.name}}</p>
        </div>
        <div #menuUser [ngClass]="'menuUser ' + (showMenuUser ? 'mostrar' : '')">
            <div (click)="redirectTo('home/meuperfil')">Meu Perfil</div>
            <div *ngIf="permissaoAdm" (click)="redirectTo('home/administracao')">Administração</div>
            <div (click)="logout()">Sair</div>
        </div>
    </div>
    
</div>