:host {
    form {
        display: grid;
        max-width: 40rem;
        grid-template-columns: auto 1fr;
        grid-gap: 1rem;

        .imgUser {
            grid-column-start: span 2;
            width: 300px;
            border-radius: 300px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }
}