
<table>


    <ng-container *ngFor="let item of lista; index as i">
        <ng-container *ngTemplateOutlet="linhaTemplate; context: {$implicit: item, nivel: 0, index: i}" ></ng-container>
    </ng-container>
    <!-- *ngFor="let item of lista; index as i" [item]="item" [config]="config" -->
    
    <ng-template #linhaTemplate let-item let-nivel="nivel" let-index="index">
        <tr [ngClass]="{'aberto': item.aberto}" (click)="item.aberto = !item.aberto">
            <td class="dummy" *ngFor="let _ of [].constructor(nivel)"></td>
            <td class="toggler" *ngIf="item.filhos">
                <fa-icon [icon]="toggleSeta" ></fa-icon>
                {{Object.keys(item)}}
            </td>
            <!-- <td *ngFor="let col of item.config " [ngSwitch]="col.tipo" [style.width]="col.largura">
                <ng-container *ngSwitchCase="'propriedade'">
                    <div>
                        <div class="title">
                            {{col.titulo}}
                        </div>
                        <div class="value">
                            {{item.getValue(col)}}
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'propLongo'">
                    <div>
                        <div class="title" [style.text-align]="'start'" >
                            {{col.titulo}}
                        </div>
                        <div class="value" [style.text-align]="'start'" [style.height]="'2lh'">
                            <span class="overflow-2" [title]="item.getValue(col)">{{item.getValue(col)}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'propDinheiro'">
                    <div>
                        <div class="title">
                            {{col.titulo}}
                        </div>
                        <div class="value">
                            <span [title]="item.getValue(col) | customCurrency">R$ {{item.getValue(col) | numeroResumido}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'acao'">
                    <div class="acao-wrapper">
                        <fa-icon [icon]="acoesIcon"></fa-icon>
                    </div>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    {{col.titulo}}
                </ng-container>
            </td> -->
        </tr>
        <!-- <ng-container [ngClass]="{visible: itemConfig.aberto}" *ngIf="getConfigChildren(itemConfig)">
            <ng-container *ngFor="let child of getConfigChildren(itemConfig).getValue(item)">
                {{child.nome}}
                 <ng-container *ngTemplateOutlet="linhaTemplate; context: {$implicit: child, nivel: (nivel + 1), index: index, config: getConfigChildren(itemConfig).childrenConfig}" ></ng-container> 
            </ng-container>
        </ng-container> -->
    </ng-template>
</table>

