:host {
    display: flex;
    font-family: var(--fonte-open-sans);
    font-size: 15px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    color: var(--cor-primaria);

    div#content {
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: var(--sombra-padrao);
        width: 100%;
        padding: 4rem;

        header {
            padding-bottom: 0.5rem;
            color: var(--cinza-escuro);
            border-bottom: 1px #d7d7d7 solid;
            font-size: large;
        }

        main {
            padding-top: 1rem;

            form {
                margin-bottom: 1.5rem;
                display: grid;
                grid-template-columns: max-content auto;
                grid-template-rows: repeat(10, 2rem);
                gap: 1rem;

                label {
                    display: flex;
                    align-items: center;

                    span.obrigatorio {
                        color: red;
                        padding-left: 0.2rem;
                    }
                }

                select, input {
                    border: var(--cor-primaria) solid 1px;
                    border-radius: 4px;
                    color: var(--cor-primaria);
                    outline: none;
                    padding-left: 1rem;

                }

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    dropdown-com-filtro {
                        flex-grow: 1;
                    }

                    fa-icon {
                        margin-left: 0.5rem;
                        color: red;
                    }
                }

                dropdown-com-filtro{
                    border: var(--cor-primaria) solid 1px;
                    border-radius: 4px;
                    height: 100%;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    
                }

                .invalido {
                    border-color: red;
                    color: red;
                }

                spo-checkbox {
                    align-self: center;
                }
                
            }

            .recursos {
                header {

                    padding-bottom: 0.5rem;
                    margin-bottom: 1rem;
                    border-bottom: 1px #d7d7d7 solid;
                    display: flex;

                    h4 {
                        color: var(--cinza-escuro);
                        font-size: large;
                        font-weight: unset;
                        flex-grow: 1;
                    }

                    fa-icon {
                        color: green;
                    }
                }
                

                spo-cadastro-exercicio {
                    margin-left: 1rem;
                }
            }

        }
    }
}