:host {
    display: flex;
    font-family: var(--fonte-open-sans);
    font-size: 15px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    color: var(--cor-primaria);

    div#content {
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: var(--sombra-padrao);
        width: 100%;
        min-width: fit-content;
        padding: 4rem;

        header {
            padding-bottom: 0.5rem;
            color: var(--cinza-escuro);
            border-bottom: 1px #d7d7d7 solid;
            font-size: large;
        }

        main {
            padding-top: 1rem;


            form {
                @import "../../../../utils/styles/ngSelectPadrao.scss";       

                margin-bottom: 1.5rem;
                display: grid;
                grid-template-columns: max-content auto;
                grid-template-rows: repeat(10, 2rem);
                gap: 1rem;

                
            }

            .recursos {
                width: 100%;
                header {

                    padding-bottom: 0.5rem;
                    margin-bottom: 1rem;
                    border-bottom: 1px #d7d7d7 solid;
                    display: flex;

                    h4 {
                        color: var(--cinza-escuro);
                        font-size: large;
                        font-weight: unset;
                        flex-grow: 1;
                    }

                    fa-icon {
                        color: green;
                    }
                }
                

                spo-cadastro-exercicio {
                    margin-left: 1rem;
                }
            }

            button {
                margin-top: 1.5rem;
                margin-left: unset;
            }

        }
    }
}