:host {
    display: flex;
    font-family: var(--fonte-open-sans);
    font-size: 15px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    color: var(--cor-primaria);

    div#content {
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: var(--sombra-padrao);
        width: 100%;
        padding: 4rem;

        header {
            padding-bottom: 0.5rem;
            color: var(--cinza-escuro);
            border-bottom: 1px #d7d7d7 solid;
            font-size: large;
        }

        main {
            padding-top: 1rem;

            form {
                margin-bottom: 1.5rem;
                display: grid;
                grid-template-columns: max-content auto;
                grid-template-rows: repeat(10, 2rem);
                gap: 1rem;

                label {
                    display: flex;
                    align-items: center;

                    span.obrigatorio {
                        color: red;
                        padding-left: 0.2rem;
                    }
                }

                select, input {
                    border: var(--cor-primaria) solid 1px;
                    border-radius: 4px;
                    color: var(--cor-primaria);
                    outline: none;
                    padding-left: 1rem;

                    &::placeholder {
                        color: var(--cor-primaria);
                    }

                }
                ::ng-deep ng-select  {
                    
                    &.ng-select-multiple {
                        .ng-value-container {
                            .ng-value {
                                display: flex;
                                flex-direction: row-reverse;
                                padding: 4px;
                                border-radius: 1.5rem;
                                background-color: white;
                                border: var(--cor-primaria) solid 1px;
                                color: var(--cor-primaria);
                                align-items: center;

                                .ng-value-icon.left {
                                    margin-left: 4px;
                                    border: none;
                                    color: white;
                                    background-color: red;
                                    box-sizing: border-box;
                                    height: 1rem;
                                    width: 1rem;
                                    border-radius: 1rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }
                    }

                    .ng-select-container {
                        border-color: var(--cor-primaria);
                        color: var(--cor-primaria);

                        .ng-placeholder {
                            color: var(--cor-primaria);
                        }

                        .ng-clear-wrapper {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 1rem;
                            height: 1rem;
                            box-sizing: border-box;
                            border-radius: 1rem;
                            color: white;
                            background-color: red;

                            .ng-clear {
                                display: flex;
                                font-size: medium;
                                line-height: unset;
                                pointer-events: none;

                                &:hover {
                                    color: unset;
                                }
                            }

                        }

                        .ng-arrow-wrapper .ng-arrow {
                            border-color: var(--cor-primaria) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)
                        }


                    }

                    ng-dropdown-panel {
                        .ng-option {
                            color: var(--cor-primaria);

                            &:hover {
                                color: white;
                                background-color: var(--cor-primaria);
                            }
                        }
                    }

                    &.ng-select-opened{
                        > .ng-select-container {
                                
                            .ng-arrow-wrapper .ng-arrow {
                                border-color:  rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--cor-primaria);
                            }
    
    
                        }
                    }
                }

                .invalido {
                    border-color: red;
                    color: red;
                }

                
            }

            .recursos {
                header {

                    padding-bottom: 0.5rem;
                    margin-bottom: 1rem;
                    border-bottom: 1px #d7d7d7 solid;
                    display: flex;

                    h4 {
                        color: var(--cinza-escuro);
                        font-size: large;
                        font-weight: unset;
                        flex-grow: 1;
                    }

                    fa-icon {
                        color: green;
                    }
                }
                

                spo-cadastro-exercicio {
                    margin-left: 1rem;
                }
            }

        }
    }
}