<spo-objeto-filtro (onUpdate)="this.recarregarLista(paginaAtual)"></spo-objeto-filtro>
<div id="cabecalho">
    <div id="title">
        <p>Objetos ({{qtObjetos}})</p>
        <div id="pesquisa">
            <fa-icon [icon]="searchIcon"></fa-icon>
            <input type="text" [formControl]="txtBusca" placeholder="Procurar" class="pesquisa" />
        </div>
    </div>
</div>
<div id="listaDados">
    <spo-tira-objeto [routerLink]="obj.id"
    *ngFor="let obj of data" [objeto]="obj"></spo-tira-objeto>
</div>
<spo-barra-paginacao [larguraPaginacao]="larguraPaginacao" [quantidade]="qtObjetos" (onPageChange)="recarregarLista($event)"></spo-barra-paginacao>