<spo-objeto-filtro (onUpdate)="this.recarregarLista(paginaAtual)" class="filtro"></spo-objeto-filtro>
<div id="cabecalho">
    <div id="title">
        <p>Objetos ({{qtObjetos}})</p>
        <spo-campo-pesquisa [formControl]="txtBusca"></spo-campo-pesquisa>
    </div>
</div>
<div id="listaDados">
    <spo-tira-listagem-objetos *ngFor="let objeto of data" [objeto]="objeto" 
        (doClick)="redirectTo(objeto.id.toString())" [permissao]="pode"></spo-tira-listagem-objetos>
    
</div>
<spo-barra-paginacao [larguraPaginacao]="larguraPaginacao" [quantidade]="qtObjetos" (onPageChange)="recarregarLista($event)"></spo-barra-paginacao>