<spo-objeto-filtro (onUpdate)="this.recarregarLista(paginaAtual)" class="filtro"></spo-objeto-filtro>
<div id="cabecalho">
    <div id="title">
        <p>Objetos ({{qtObjetos}})</p>
        <spo-campo-pesquisa [formControl]="txtBusca"></spo-campo-pesquisa>
    </div>
</div>
<div id="listaDados">
    <spo-tira-lista [lista]="objetosLista" [clickFunc]="clickFunc"></spo-tira-lista>
</div>
<spo-barra-paginacao [larguraPaginacao]="larguraPaginacao" [quantidade]="qtObjetos" (onPageChange)="recarregarLista($event)"></spo-barra-paginacao>