<spo-investimento-filtro (filterChange)="atualizarFiltro($event, 1)" ></spo-investimento-filtro>
<div id="cabecalho">
    <div id="title">
        <p>Relatório ({{qtDados}})</p>
        <select [formControl]="selectAno">
            <option [ngValue]="ano" *ngFor="let ano of datas" >{{ano}}</option>
        </select>
    </div>
    <div id="acoes">
        <button title="Gerar Relatório" class="btn-acao" (click)="gerarRelatorio()"><fa-icon [icon]="downloadIcon"></fa-icon></button>
    </div>
</div>
<div id="listaDados" class="displayLista">
    <spo-tira-dado-detalhado *ngFor="let inv of data" [dadoDetalhado]="inv"></spo-tira-dado-detalhado>
</div>
<spo-barra-paginacao [larguraPaginacao]="larguraPaginacao" [quantidade]="qtDados" (onPageChange)="executar(recarregarLista($event)) "></spo-barra-paginacao>