<spo-progress-modal [visivel]="carregando"></spo-progress-modal>
<header>
  <p>Investimentos ({{qtInvestimentos}})</p>
  <spo-campo-pesquisa [(ngModel)]="term" [ngModelOptions]="{standalone: true}" (keydown.enter)="recarregarLista()"></spo-campo-pesquisa>
  <button *ngIf="permissao?.criar" class="add-conta btn-acao" (click)="novoInvestimento()" title="Criar Investimento"><fa-icon [icon]="faIconPlus"></fa-icon></button> 
</header>
<main>
  <spo-tira-lista [lista]="investimentos" [clickFunc]="permissao?.visualizar ? abrirInvestimento : undefined"></spo-tira-lista>
</main>
<footer>
  <spo-barra-paginacao [quantidade]="qtInvestimentos" (onPageChange)="recarregarLista(undefined, $event)" ></spo-barra-paginacao>
</footer>
<div class="confirmacao" [overlay] *ngIf="investimentoAExcluir">
  <header>
    <p>Confirmação</p>
    <button class="btn negativo" (click)="investimentoAExcluir = undefined"><fa-icon [icon]="faIconX"></fa-icon></button>
  </header>
  <main>
    <p>Tem certeza que deseja remover o investimento? Essa ação não poderá ser desfeita.</p>
    <p>{{investimentoAExcluir.nome}}</p>
    <p>({{investimentoAExcluir.codUnidade}}) {{investimentoAExcluir.siglaUnidade}} - {{investimentoAExcluir.codPO}}</p>
  </main>
  <footer>
    <button class="btn neutro" (click)="investimentoAExcluir = undefined">Cancelar</button>
    <button class="btn negativo" (click)="excluirConta()">Remover</button>
  </footer>
</div>