:host {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    gap: 1rem;

    header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p{
            font-weight: bold;
        }

        .add-conta {
            margin-left: auto;
        }
    }
}