@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('../../../../assets/styles/tira-base.scss');

:host {

    div#tira {
        cursor: pointer;

    }

    > div#objetoList {
        display: flex;
        // margin-top: 1rem;
        height: 0;
        transition: height 0.5s ease-in-out;
        overflow: hidden;

        &.aberto {
            height: auto;
        }

        #objetoListInner {
            display: flex;
            padding-top: 1rem;
            flex-direction: column;
            margin-left: 3rem;
            flex-grow: 1;
        }
        
    }


}

