@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('../../styles/tira-base.scss');

:host {

    div#tira {
        cursor: pointer;
    }

    > div#objetoList {
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
        height: 0;
        transition: height 0.5s ease-in-out;
        overflow: hidden;

        &.aberto {
            height: auto;
        }
        
    }


}

