<main #principal>
    <header>
        <h4>Adicionar Membro</h4>
        
        <div class="botaoAcao" (click)="fechar(null)">
            <fa-icon [icon]="iconFechar"></fa-icon>
        </div>
    </header>
    <div class="conteudo">
        <form #cadastroMembro="ngForm">
            <label>Orgão <span class="obrigatorio">*</span></label>
            <ng-select [(ngModel)]="cadastroForm.orgao" name="inOrgao"
                [items]="orgaos" #inOrgao="ngModel" required
                [searchFn]="searchOrgao" (ngModelChange)="preencherSetores($event)"
                placeholder="Selecionar o Orgão"
                >
                <ng-template ng-label-tmp let-item="item">
                    ({{ (item.sigla && item.sigla.length > 0 ) ? item.sigla : ' - ' }}) {{item.nome}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                    ({{ (item.sigla && item.sigla.length > 0 ) ? item.sigla : ' - ' }}) {{item.nome}}
                </ng-template>
            </ng-select>

            <label>Setor <span class="obrigatorio">*</span></label>
            <ng-select [(ngModel)]="cadastroForm.setor" name="inSetor"
                [items]="setores" [disabled]="inOrgao.invalid" required
                [searchFn]="searchSetor" #inSetor="ngModel" (ngModelChange)="preencherPapeis($event)"
                placeholder="Selecionar o Setor"
                >
                <ng-template ng-label-tmp ng-option-tmp let-item="item">
                    {{ (item != setorTodos ) ? '(' + item.sigla + ')' : '' }} {{item.nome}}
                </ng-template>
            </ng-select>

            <label>Papel <span class="obrigatorio">*</span></label>
            <ng-select [(ngModel)]="cadastroForm.papel" name="inPapel"
                [items]="papeis" [disabled]="inSetor.invalid || cadastroForm.setor === setorTodos || inOrgao.invalid"
                [searchFn]="searchPapel" required
                placeholder="Selecionar o Papel"
                >
                <ng-template ng-label-tmp ng-option-tmp let-item="item">
                    {{item.agenteNome}} {{item != papelTodos ? '(' + item.nome + ')' : ''}}
                </ng-template>

                
            </ng-select>

        </form>
    </div>
    <footer>
        <button [disabled]="cadastroMembro.invalid" (click)="salvar()">
            Adicionar
        </button>
    </footer>
</main>