:host {
    background-color: rgba(215, 215, 215, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    main {
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-width: 50rem;
        padding: 1rem;
    }
}