:host {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    font-family: var(----fonte-open-sans);

    > header {
        display: flex;
        flex-direction: column;
        font-family: var(--fonte-open-sans);
        color: var(--cor-primaria);

        background-color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
        padding: 1rem;
        padding-bottom: 0;
        border-radius: 6px;
        margin-bottom: 1rem;

        > header {
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;

            
            .icone {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;
                border: var(--cor-primaria) solid 1px;
                width: 100px;
                height: 100px;
                border-radius: 4px ;
                transform-origin: top left;

                span {
                    transform: scale(3, 3);
                }
                
            }

            .dados {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                h2 {
                    font-size: medium;
                }
            }
        }

        p {
            color: gray;
        }

        nav {
            display: flex;

            .menuItem {
                padding: 1rem;
                padding-bottom: 0.3rem;
                cursor: pointer;

                &.ativa {
                    border-bottom: #4778ff solid 0.3rem;
                }
            }
        }
    }

    > main {
        background-color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
        padding: 1rem;
        border-radius: 6px;
        flex-grow: 1;
    }
    

}