:host {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    font-family: var(----fonte-open-sans);

    > header {
        display: flex;
        flex-direction: column;
        font-family: var(--fonte-open-sans);
        color: var(--cor-primaria);

        background-color: white;
        box-shadow:  var(--sombra-padrao);
        padding: 1rem;
        padding-bottom: 0;
        border-radius: 6px;
        margin-bottom: 1rem;

        > header {
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;

            
            .icone {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;
                border: var(--cor-primaria) solid 1px;
                width: 100px;
                height: 100px;
                border-radius: 4px ;
                transform-origin: top left;

                span {
                    transform: scale(3, 3);
                }
                
            }

            .dados {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin-right: auto;

                h2 {
                    font-size: medium;
                }
            }

            .acoes {
                display:flex;
                justify-content: flex-end;

                .btn-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    border: none;
                    box-sizing: border-box;
                    height: 30px;
                    width: 30px;
                    background-color: var(--cor-primaria);
                    color: white;
                    cursor: pointer;
                }
            }
        }

        p {
            color: gray;
        }

        nav {
            display: flex;
            padding-top: 1rem;

            .menuItem {
                margin-right: 1rem;
                padding-bottom: 0.5rem;
                cursor: pointer;

                &.ativa {
                    border-bottom: var(--cor-primaria) solid 0.2rem;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
    
    .esconder-modal {
        display: none;
    }

}