<header>
    <header>
        <div class="icone">
            <span class="material-symbols-outlined">{{grupo?.icone}}</span>
        </div>
        <div class="dados">
            <h1>{{grupo?.sigla}}</h1>
            <h2>{{grupo?.nome}}</h2>
        </div>
    </header>
    
    <p>{{grupo?.descricao}}</p>

    <nav>
        <div class="menuItem" routerLink="" routerLinkActive="ativa">
            Membros
        </div>
        <div class="menuItem" routerLink="permissoes" routerLinkActive="ativa">
            Permissões
        </div>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>