:host {
  font-family: var(--fonte-open-sans);
  font-size: 15px;
  display: flex;
  flex-direction: column;

  header {
    div {
      fa-icon {
        &.add {
          color: green;
        }
        &.remover {
          color: red;
        }
      }
    }

    h4 {
      font-weight: unset;
      font-family: inherit;

      span {
        font-weight: bolder;
      }
    }
  }
}