<header class="d-flex flex-row">
  <div class="d-flex align-items-center">
    <fa-icon
      class="remover me-2"
      [icon]="removerIcon" 
      (click)="onRemover.emit(exercicio)">
    </fa-icon>
    <h4 class="m-0">Exercício <span>{{exercicio.anoExercicio}}</span></h4>
  </div>
</header>
<main class="d-flex flex-column ms-2">
  <spo-cadastro-exercicio-fonte
    *ngFor="let fonte of exercicio.indicadaPor, index as i"
    [contratadoEditavel]="contratadoEditavel"
    [fonteValores]="fonte"
    [lastElem]="i == exercicio.indicadaPor.length-1"
    [isFirstElem]="i === 0"
    (alterado)="getAlterado($event)"
    (onRemover)="removerFonte($event)"
    (onAdd)="exercicio.indicadaPor.push({fonteOrcamentaria: null, gnd: undefined})"
  ></spo-cadastro-exercicio-fonte>
</main>