:host {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: var(--fonte-open-sans);

    .content {
        background-color: white;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        border-radius: 0.5rem;
        min-width: 40rem;

        header {
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;

            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 0.1rem solid #d7d7d7;

            p {
                font-size: larger;
            }

            .botaoAcao {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                border: red solid 1px ;
                color: red;
                border-radius: 4px;
                cursor: pointer;
            }
            
        }

        main {
            form {
                display: grid;
                grid-template-columns: min-content auto;
                column-gap: 1rem;
                row-gap: 0.5rem;
                align-items: center;
                color: var(--cor-primaria);

                input, textarea {
                    padding: 1rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    border: var(--cor-primaria) solid 1px;
                    border-radius: 4px;
                    color: var(--cor-primaria);

                    &:focus {
                        outline: unset;
                    }

                }

                textarea {
                    resize: none;
                }
                
                label {
                    font-size: small;
                }

                label[for="inDescricao"] {
                    align-self: flex-start;
                }

            }
        }

        footer {
            margin-top: 1rem;
            display: flex;
            justify-content: flex-end;

            button {
                background-color: #00cc6a;
                color: white;
                padding: 0.5rem;
                border: unset;
                border-radius: 6px;
                cursor: pointer;

                fa-icon {
                    margin-right: 0.3rem;
                }
            }
        }
    }
}