:host {
    display: flex;
        flex-direction: row;
        justify-content: end;

        #btnAcao {
            font-size: x-large;
        }

        .btnPagina {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
            border-radius: 0.5rem;
            color: var(--cor-primaria);
            font-weight: bolder;
            cursor: pointer;
        }

        .pgAtual {
            background-color: var(--cor-primaria);
            color: white;
        }

        .btnPgInativo {
            color: gray
        }
}