<div id="btnAcao" class="btnPagina {{paginaAtual === 1 ? 'btnPgInativo' : ''}}"
    (click)="vaiParaPrimeiraPagina()">
    <fa-icon [icon]="inicioIcon"></fa-icon>
</div>
<div id="btnAcao" class="btnPagina {{paginaAtual === 1 ? 'btnPgInativo' : ''}}"
    (click)="voltaUmaPagina()">
    <fa-icon [icon]="anteriorIcon"></fa-icon>
</div>
<div class="btnPagina {{n === paginaAtual ? 'pgAtual' : ''}}" *ngFor="let n of paginas" (click)="setPaginaAtual(n)">
    <p>{{n}}</p>
</div>
<div id="btnAcao" class="btnPagina {{paginaAtual === maxPgNum ? 'btnPgInativo' : ''}}"
    (click)="avancarUmaPagina()">
    <fa-icon [icon]="proximoIcon"></fa-icon>
</div>
<div id="btnAcao" class="btnPagina {{paginaAtual === maxPgNum ? 'btnPgInativo' : ''}}"
    (click)="vaiParaUltimaPagina()">
    <fa-icon [icon]="fimIcon"></fa-icon>
</div>