<div id="titulo">
    <p>Perfil</p>
    <button *ngIf="this.editavel"  routerLink="/home/meuperfil/detalhe/editar" ><fa-icon [icon]="faEditIcon"></fa-icon> Editar</button>
</div>
<div id="infos">
    <div class="label">Nome</div>
    <div class="campo">{{userSignal()?.name}}</div>

    <div class="label">Nome Completo</div>
    <div class="campo">{{userSignal()?.nomeCompleto}}</div>

    <div class="label">E-mail Principal</div>
    <div class="campo">{{userSignal()?.email}}</div>

    <div class="label">Contato</div>
    <div class="campo">{{userSignal()?.telefone}}</div>

    <div class="label">Orgão</div>
    <div class="campo">{{getPapelUser()?.setor?.orgao?.sigla}} - {{getPapelUser()?.setor?.orgao?.nome}}</div>

    <div class="label">Setor</div>
    <div class="campo">{{getPapelUser()?.setor?.sigla}} - {{getPapelUser()?.setor?.nome}}</div>

    <div class="label">Papel</div>
    <div class="campo">{{getPapelUser()?.nome}}</div>
</div>