@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#loginBox {
  font-family: 'Open Sans', sans-serif;

  #LogoSPO {
    width: 100%;
  
    @media (min-width: 768px) {
      width: 80%;
    }
  }
}
