<div class="d-flex w-100 h-100 justify-content-center align-items-center" id="loginBox">
	<div class="d-flex flex-column card justify-content-around align-items-center h-45 w-50 shadow p-2">
		<img id="LogoSPO" src="assets/img/Logo SPO_azuil-04.1.png" alt="SPO.ES - Sistema de Planejamento Orçamentário">
		<button class="btn btn-light bg-main-blue py-1 px-2 py-md-3 px-md-4 m-0 rounded" id="loginButton" (click)="login()">
			<span class="mx-2">Entrar</span>
			<fa-icon [icon]="faRightToBracket"></fa-icon>
		</button>

		<footer class="d-flex flex-column text-center">
			<span class="f-12 mb-2">Secretaria de Economia e Planejamento</span>
			<span class="f-12">Governo do Estado do Espírito Santo</span>
		</footer>
	</div>
</div>