:host {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2rem);
    width: 3rem;
    align-items: center;
    background-color: var(--cor-primaria);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.26) 2px 2px 5px 0px;

    #pipLogo img{
        width: 42px;
    }

    div#nav {
        padding-top: 5rem;
        color: white;
    }

    nav {
        flex-grow: 1;
        color: var(--cor-primaria);
        font-family: var(--fonte-open-sans);
        margin-top: 5rem;
    }

}

