:host {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2rem);
    width: 3rem;
    align-items: center;
    background-color: var(--cor-primaria);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.26) 2px 2px 5px 0px;

    #pipLogo{
        box-sizing: border-box;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 40px;
            cursor: pointer;
            opacity: 60%;

        }
    }

    @-webkit-keyframes rotating {
        from{
            -webkit-transform: rotate(0deg);
        }
        to{
            -webkit-transform: rotate(360deg);
        }
    }

    div#nav {
        padding-top: 5rem;
        color: white;
    }

    nav {
        flex-grow: 1;
        color: var(--cor-primaria);
        font-family: var(--fonte-open-sans);
        margin-top: 5rem;
    }

}

