:host {
    display: flex;
    flex-direction: row;

    div {
        &#icone {
            background-color: var(--cor-primaria);
            padding: 10px;
            margin-right: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            box-shadow: 0 0 3px;
        }

        &#infos {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            font-family: "Open Sans Semibold", "Open Sans", sans-serif;
    
            div {
                flex-grow: 1;

                &#value {
                    color: var(--cor-primaria);
                    font-size: larger;
                }

                &#title {
                    color: #6e7484;
                    font-size: small;
                    text-align: end;
                    text-wrap: nowrap;
                }
            }
    
        }
    }
    
}