
:host {
    display: flex;
    flex-direction: row;

    div {
        &#icone {
            color: white;
            padding: 5px;
            margin-right: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            height: 50%;

            img {
                width: 90%;
            }
        }

        &#infos {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            font-family: "Open Sans Semibold", "Open Sans", sans-serif;
    
            div {
                flex-grow: 1;

                &#value {
                    color: var(--cor-primaria);
                    font-size: medium;
                }

                &#title {
                    color: #6e7484;
                    font-size: smaller;
                    text-align: end;
                    text-wrap: nowrap;
                }
            }
    
        }
    }
    
}