@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('../../../../../utils/styles/tira-base.scss');

:host {

    #tira {
        > div {
            width: 7rem !important;


        }

        > div.colMenor {
            width: fit-content !important;
            padding-right: 2rem !important;
        }
    } 
}