<div id="tira">
    <div id="invNome">
        <div id="label">Objeto</div>
        <div id="value"><span [title]="objeto.nome">{{objeto.nome}}</span></div>
    </div>
    <div class="colMenor">
        <div id="label">Tipo</div>
        <div id="value">{{objeto.tipo}}</div>
    </div>
    <div>
        <div id="label">Unidade</div>
        <div id="value">{{objeto.unidadeResponsavel}}</div>
    </div>
    <div>
        <div id="label">Código P.O.</div>
        <div id="value">{{objeto.codPlano}}</div>
    </div>
    <div>
        <div id="label">Previsto</div>
        <div id="value"><span [title]="objeto.totalPrevisto | customCurrency">R$ {{objeto.totalPrevisto | numeroResumido }}</span></div>
    </div>
    <div>
        <div id="label">Contratado</div>
        <div id="value"><span [title]="objeto.totalHomologado | customCurrency">R$ {{objeto.totalHomologado | numeroResumido }}</span></div>
    </div>
    <div>
        <div id="label">Autorizado</div>
        <div id="value"><span [title]="objeto.totalAutorizado | customCurrency">R$ {{objeto.totalAutorizado | numeroResumido }}</span></div>
    </div>
    <div>
        <div id="label">Empenhado</div>
        <div id="value"><span [title]="objeto.totalEmpenhado | customCurrency">R$ {{objeto.totalEmpenhado | numeroResumido }}</span></div>
    </div>
    <div>
        <div id="label">Disp. S/ Reserva</div>
        <div id="value"><span [title]="objeto.totalDisponivel | customCurrency">R$ {{objeto.totalDisponivel | numeroResumido }}</span></div>
    </div>
    <div class="status">
        <div id="label">Status</div>
        <div id="value">{{objeto.status }}</div>
    </div>
    <div class="acoes" #iconAcao *ngIf="permissao?.excluir">
        <fa-icon [icon]="acoesIcon" #iconBtn (click)="toggleMenu()"></fa-icon>
        <nav [ngClass]="menuFechado ? 'fechado' : ''">
            <ul>
                <li class="remover" (click)="makeDoRemover()"><fa-icon [icon]="removerIcon"></fa-icon> Remover</li>
            </ul>
        </nav>
    </div>
</div>
