@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('../../../../../utils/styles/tira-base.scss');

:host {

    #tira {
        > div {
            width: 6.5rem !important;

            &.status {
                width: 5rem !important;
            }

           
        }

        > div.colMenor {
            width: fit-content !important;
            padding-right: 2rem !important;
        }

        > div.acoes {
            width: fit-content !important;
            padding-right: 1rem !important;
            color: var(--cor-primaria);
            position: relative;

            nav {
                position: absolute;
                top: 100%;
                right: 0;
                display: flex;
                flex-direction: column;
                background-color: white;
                width: fit-content;
                border-radius: 0.3rem;
                box-shadow: var(--sombra-padrao);
                overflow: hidden;
        
                ul {
                    list-style: none;

                    li {
                        padding: 0.5rem;
                        text-wrap: nowrap;


                        &.remover {
                            color: red;


                            &:hover {
                                color: white;
                                background-color: red;
                            }
                        }
                    }
                }
        
                &.fechado {
                    display: none;
                }
            }
        }
    } 

    
}