<header>
    <div id="pesquisa">
        <fa-icon [icon]="searchIcon"></fa-icon>
        <input type="text" [formControl]="txtBusca" placeholder="Procurar" />
    </div>
    <div class="btn" *ngIf="permissao?.criar" (click)="mostrarModal()">
        <span class="material-symbols-outlined">group</span>
    </div>
</header>
<main>
    <div class="grupoItem" *ngFor="let grupo of grupos" (click)="navegar(grupo.id, $event)">
        <div class="cabecalho">
            <div class="icone">
                <span class="material-symbols-outlined">{{grupo.icone}}</span>
            </div>
            <div class="infos">
                <p class="sigla">{{grupo.sigla}}</p>
                <p class="nome">{{grupo.nome}}</p>
            </div>
        </div>
        <div class="descricao">
            <p class="titulo">Descrição</p>
            <p class="texto">{{grupo.descricao}}</p>
        </div>
        <div class="btnExcluir" #btnRemover *ngIf="permissao?.excluir" (click)="remover(grupo, $event)">
            <fa-icon [icon]="lixeira"></fa-icon>
        </div>
    </div> 
</main>
<spo-grupo-cadastro  [ngClass]="naoMostrar" (onClose)="esconderModal($event)" ></spo-grupo-cadastro>
