:host {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-open-sans);
    font-size: small;

    p {
        display: flex;
        background-color: var(--cor-secundaria);
        color: var(--cor-primaria);
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    form {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-evenly;

        div {
            display: flex;
            align-items: center;

            input {
                margin-right: 4px;
            }
        }

    }

    spo-modulo-config {
        margin-left: 1.5rem;
    }
}