<spo-investimento-filtro></spo-investimento-filtro>
<div id="valores">
    <spo-valor-card 
        titulo="Previsto" 
        nomeIcone="monitoring" 
        [valor]="totalPrevisto"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Contratado" 
        nomeIcone="handshake" 
        [valor]="totalHomologado"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Orçado" 
        nomeIcone="description" 
        [valor]="totalOrcado"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Autorizado" 
        nomeIcone="check_circle" 
        [valor]="totalAutorizado"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Empenhado" 
        nomeIcone="gavel" 
        [valor]="totalDisponivel"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Liquidado" 
        nomeIcone="checkbook" 
        [valor]="totalDisponivel"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="Disp. S/ Reserva" 
        nomeIcone="savings" 
        [valor]="totalDisponivel"
    ></spo-valor-card>
    <spo-valor-card 
        titulo="[a definir]" 
        nomeIcone="savings" 
        [valor]="totalDisponivel"
    ></spo-valor-card>
</div>
<div id="cabecalho">
    <div id="title">
        <p>Investimentos ({{qtInvestimento}})</p>
        <div id="pesquisa">
            <fa-icon [icon]="searchIcon"></fa-icon>
            <input type="text" [formControl]="txtBusca" placeholder="Procurar" />
        </div>
    </div>
    <div id="acoes">
        <div id="display-grade" class="botaoAcao">
            <img src="assets/img/grid-layout.svg" width="20px">
        </div>
        <div id="display-lista" class="botaoAcao ativo">
            <img src="assets/img/align-left-branco.svg" width="20px">
        </div>
    </div>
</div>
<div id="listaDados" class="displayLista">
    <spo-tira-investimento *ngFor="let inv of data" [investimento]="inv"></spo-tira-investimento>
</div>
<spo-barra-paginacao [larguraPaginacao]="larguraPaginacao" [quantidade]="qtInvestimento" (onPageChange)="recarregarLista($event)"></spo-barra-paginacao>