<spo-progress-modal [visivel]="showProgress"></spo-progress-modal>
<header>
  <p>Pessoas ({{qtPessoas}})</p>
  <spo-campo-pesquisa [(ngModel)]="termo" [ngModelOptions]="{standalone: true}" (ngModelChange)="searchObs$.next({term: $event, pg: 1})"></spo-campo-pesquisa>
</header>
<spo-tira-lista [lista]="pessoasList" [clickFunc]="clickFunc"></spo-tira-lista>
<spo-barra-paginacao [quantidade]="qtPessoas" (onPageChange)="searchObs$.next({term: this.termo, pg: $event})"></spo-barra-paginacao>
<div class="confirmacao" overlay *ngIf="removerUser">
  <header>
    Confirmação
  </header>
  <main>
    Deseja mesmo remover {{removerUser.nome}} da {{removerUser.orgao}}?
  </main>
  <footer>
    <button class="btn neutro" (click)="removerUser = undefined">Não</button>
    <button class="btn negativo" (click)="removerUsuario(removerUser.id)" >Sim</button>
  </footer>
</div>