:host {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-open-sans);
    margin-bottom: 2rem;
    header {
        padding-bottom: 1rem;
        display: flex;

        p {
            font-weight: bolder;
            margin-right: auto;
            color: var(--cinza-escuro);
        }

        button {
            color: white;
            background-color: #00cc6a;
            border: unset;
            border-radius: 4px;
            padding: 0.3rem;
            cursor: pointer;
            box-shadow: var(--sombra-padrao);
        }
    }

    main {
        background-color: white;
        box-shadow: var(--sombra-padrao);
        padding: 1rem;
        border-radius: 6px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        p {
            display: flex;
            color: var(--cor-primaria);
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        spo-modulo-config {
            padding-top: 1rem;
            border-top: rgba(215, 215, 215, 0.5) solid 1px;
        }
    }
}