<div id="tira">
    <div>
        <div id="label">Unidade Resp.</div>
        <div id="value">{{dadoDetalhado.unidadeResponsavel}}</div>
    </div>
    <div>
        <div id="label">Código P.O</div>
        <div id="value">{{dadoDetalhado.codPO}}</div>
    </div>
    <div id="invNome">
        <div id="label">Nome do Investimento/PO</div>
        <div id="value"><span [title]="dadoDetalhado.nomePO">{{dadoDetalhado.nomePO}}</span></div>
    </div>
    <div>
        <div id="label">Projeto Estratégico</div>
        <div id="value">{{dadoDetalhado.projEstrategico ? 'Sim' : 'Não'}}</div>
    </div>
    <div>
        <div id="label">Contrato</div>
        <div id="value"><span [title]="dadoDetalhado.contrato">{{ dadoDetalhado.contrato }}</span></div>
    </div>
    <section *ngFor="let valor of dadoDetalhado.valores">
        <div>
            <div id="label">Previsto {{
                (valor.nomeFonte | uppercase).split(' ').length == 1 ? (valor.nomeFonte | uppercase) :  (valor.nomeFonte | uppercase | toSigla)
                }}</div>
            <div id="value"><span [title]="valor.valorPrevisto | customCurrency">R$ {{valor.valorPrevisto | numeroResumido }}</span></div>
        </div>
        <div>
            <div id="label">Contratado {{
                (valor.nomeFonte | uppercase).split(' ').length == 1 ? (valor.nomeFonte | uppercase) :  (valor.nomeFonte | uppercase | toSigla)
                }}</div>
            <div id="value"><span [title]="valor.valorContratado | customCurrency">R$ {{valor.valorContratado | numeroResumido }}</span></div>
        </div>
    </section>
        
</div>