<spo-progress-modal [visivel]="showProgress" ></spo-progress-modal>
<spo-objetos-filtro (filterChange)="updateFiltro($event)"></spo-objetos-filtro>
<header>
    <h3>Objetos ({{qtObjetos}})</h3>
    <spo-campo-pesquisa [formControl]="txtBusca"></spo-campo-pesquisa>
    <div id="acoes">
        <button class="btn-acao" routerLink="novo" *ngIf="pode?.criar">
            <fa-icon [icon]="novoObjIcon"></fa-icon>
        </button>
    </div>
</header>
<spo-objetos-ordenacao 
    (onChange)="setOrdem($event)"></spo-objetos-ordenacao>
<main>
    <spo-tira-listagem-objetos *ngFor="let objeto of objetos" [objeto]="objeto" 
        (doClick)="redirectTo(objeto.id)" (doRemover)="removerObjeto($event)" [permissao]="pode"></spo-tira-listagem-objetos>
</main>
<footer>
    <spo-barra-paginacao [larguraPaginacao]="larguraPaginacao" [quantidade]="qtObjetos" (onPageChange)="executar(recarregarLista($event))"></spo-barra-paginacao>
</footer>