:host {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-open-sans);
    font-size: small;
    padding-block: 1rem;
    gap: 1rem;

    spo-objetos-filtro{
        width: fit-content;
        align-self: flex-end;
        color: #7f7f7f;
    }

    header {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        div#pesquisa {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: white;
            padding: 0.3rem;
            border-radius: 0.3rem;

            fa-icon {
                font-size: small;
                color: gray;
            }

            input {
                margin-left: 0.5rem;
                border: unset;
            }

            input:focus {
                outline: unset;
            }
        }

        div#acoes {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: auto;
            color: var(--cor-primaria);

            .btn-acao {
                font-size: medium;
            }
        }
    }

    main {
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: 1rem;
        spo-tira-listagem-objetos {
            cursor: pointer;
        }
    }

}