@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");

/* You can add global styles to this file, and also import other style files */
:root {
    --cor-primaria: rgb(79, 129, 189);
    --cor-secundaria: rgb(249, 247, 247);
    --cor-sigefes: rgb(57, 94, 139);
    --fonte-open-sans: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body, app-root {
    display: block;
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--cor-secundaria);
}

