<header>
  <div class="fluxo">
    <div class="nome">
      <div class="label">Fluxo</div>
      <div class="valor">{{fluxo?.nome}}</div>
    </div>
    <fa-icon [icon]="setaDireita"></fa-icon>
    <div class="grupo">
      <div class="label">Grupo</div>
      <div class="valor">{{objeto.emEtapa?.etapa.grupoResponsavel.nome}}-{{objeto.emEtapa?.etapa.grupoResponsavel.sigla}}</div>
    </div>
    <fa-icon [icon]="setaDireita"></fa-icon>
    <div class="grupo">
      <div class="label">Atividade</div>
      <div class="valor">{{objeto.emEtapa?.atividade}}</div>
    </div>
  </div>
  <svg class="timeline" viewBox="-50 0 1500 100" width="100%" >
    <line *ngFor="let linha of linhas" [ngClass]="'status' + linha.status" [attr.x1]="linha.posInicial" [attr.x2]="linha.posFinal" y1="50%" y2="50%" ></line>
    <circle r ="10" cy="50%" cx="-20" class="status0"></circle>
    <g *ngFor="let status of etapasStatus">
      <circle r="15" cy="50%" [attr.cx]="status.pos" [ngClass]="'status' + status.status"></circle>
      <path [attr.d]="gerarPath(status.pos, status.status)" stroke="white" stroke-width="3" fill="none"></path>
      <text [ngClass]="'status' + status.status" y="85%" [attr.x]="status.pos" text-anchor="middle">{{status.etapa.ordem}}. {{status.etapa.nome}}</text>
    </g>
    <circle r ="10" cy="50%" cx="1420" class="status2"></circle>
  </svg>
</header>
<main class="container overflow-auto p-5">
  <header>
    Solicitação
  </header>
  <main class="w-100">
    <form #form="ngForm" class="w-100 d-flex flex-column">
      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <label class="col-12 col-md-4" for="inGnd">GND:<span class="obrigatorio">*</span></label>
        <select class="col-12 col-md-8" id="inGnd" name="gnd" [(ngModel)]="gnd" disabled>
          <option [ngValue]="4">4</option>
          <option [ngValue]="5">5</option>
        </select>
      </div>

      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <label class="col-12 col-md-4"  for="inConta">Tipo da Despesa:<span class="obrigatorio">*</span></label>
        <select
          class="col-12 col-md-8"
          id="inConta"
          name="tipoConta"
          [(ngModel)]="objeto.tipoConta"
          [ngClass]="(checado && !objeto.tipoConta) ? 'invalido' : ''" disabled
        >
          <option [ngValue]="undefined" disabled>Selecionar o tipo da despesa</option>
          <option value="Investimento">Investimento</option>
          <option value="Custeio">Outras Desp. Correntes</option>
        </select>
      </div>

      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <label class="col-12 col-md-4" for="inTipo">Tipo de Objeto <span class="obrigatorio">*</span></label>
        <select
          class="col-12 col-md-8"
          id="inTipo"
          name="tipo"
          disabled
          [(ngModel)]="objeto.tipo"
          [ngClass]="(checado && !objeto.tipo) ? 'invalido' : ''"
        >
          <option [ngValue]="undefined">Selecionar o tipo de objeto</option>
          <option ngValue="Projeto">Projeto</option>
          <option ngValue="Entrega">Entrega</option>
        </select>
      </div>
      
      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <label class="col-12 col-md-4" for="inNome">Nome <span class="obrigatorio">*</span></label>
        <input
          class="col-12 col-md-8"
          type="text"
          id="inNome"
          placeholder="Insira um nome"
          maxlength="140"
          name="nome"
          required
          #nome="ngModel"
          [ngClass]="(checado && nome.invalid) ? 'invalido' : ''"
          [disabled]="!executaAcao"
          [(ngModel)]="objeto.nome"
        />
      </div>

      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <label class="col-12 col-md-4" for="inDescricao">Descrição <span class="obrigatorio">*</span></label>
        <input
          class="col-12 col-md-8"
          type="text"
          id="inDescricao"
          placeholder="Insira uma descrição"
          maxlength="280"
          name="descricao"
          required
          #descricao="ngModel"
          [ngClass]="(checado && descricao.invalid) ? 'invalido' : ''"
          [disabled]="!executaAcao"
          [(ngModel)]="objeto.descricao"
        />
      </div>

      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <label class="col-12 col-md-4">Unidade Orçamentária <span class="obrigatorio">*</span></label>
        <ng-select
          class="col-12 col-md-8"
          placeholder="Selecionar a unidade orçamentária"
          bindLabel="label"
          bindValue="value"
          required
          #unidade="ngModel"
          [items]="opcoesUnidades" name="unidade" [disabled]="opcoesUnidades?.length <= 1  || !executaAcao"
          [compareWith]="selecionarUnidade"
          [searchFn]="filtrar"
          [ngClass]="(checado && unidade.invalid) ? 'invalido' : ''" [disabled]="!executaAcao"
          [(ngModel)]="objeto.conta.unidadeOrcamentariaImplementadora"
        ></ng-select>
      </div>
      
      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <label class="col-12 col-md-4">Plano Orçamentário <span *ngIf="checarEtapaEnum(EtapaEnum.CADASTRO_PO)" class="obrigatorio">*</span></label>
        <ng-select
          class="col-12 col-md-8"
          placeholder="Selecionar plano orçamentário"
          name="planoOrcamentario"
          bindLabel="label"
          bindValue="value"
          [items]="opcoesPlanosOrcamentarios"
          [disabled]="!executaAcao"
          [compareWith]="selecionarPlanoOrcamentario"
          [searchFn]="filtrar"
          [required]="checarEtapaEnum(EtapaEnum.CADASTRO_PO)" #planoOrcamentario="ngModel"
          [ngClass]="(checado && planoOrcamentario.invalid) ? 'invalido' : ''"
          [(ngModel)]="objeto.conta.planoOrcamentario"
        ></ng-select>
      </div>

      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <label class="col-12 col-md-4" for="inMicroregiao">Microrregião Atendida <span class="obrigatorio">*</span></label>
        <select
          class="col-12 col-md-8"
          id="inMicroregiao"
          required
          #microregiaoAtendida="ngModel"
          [disabled]="!executaAcao"
          [ngClass]="(checado && microregiaoAtendida.invalid) ? 'invalido' : ''" name="microregiaoAtendida"
          [(ngModel)]="objeto.microregiaoAtendida"
        >
          <option [ngValue]="undefined">Selecionar microrregião</option>
          <option *ngFor="let microregiao of microregioes" [ngValue]="microregiao">{{microregiao.nome}}</option>
        </select>
      </div>
      
      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <label class="col-12 col-md-4" for="inAreaTematica">Área Temática <span class="obrigatorio">*</span></label>
        <select
          class="col-12 col-md-8"
          id="inAreaTematica"
          name="areaTematica"
          required
          #areaTematica="ngModel"
          [ngClass]="(checado && areaTematica.invalid) ? 'invalido' : ''"
          [disabled]="!executaAcao"
          [(ngModel)]="objeto.areaTematica"
        >
          <option [ngValue]="undefined">Selecionar a área temática</option>
          <option *ngFor="let area of areasTematicas" [ngValue]="area">{{area.nome}}</option>
        </select>
      </div>

      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <label class="col-12 col-md-4" for="inInfoComplementar">Informações Complementares </label>
        <input
          class="col-12 col-md-8"
          type="text"
          placeholder="Insira as Informações Complementares"
          id="inInfoComplementar"
          name="infoComplementares"
          #infoComplementares="ngModel"
          [maxlength]="280"
          [disabled]="!executaAcao"
          [(ngModel)]="objeto.infoComplementares"
        />
      </div>

      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <label class="col-12 col-md-4" for="inContrato">Contrato ou Convênio</label>
        <input
          class="col-12 col-md-8"
          type="text"
          id="inContrato"
          name="contrato"
          placeholder="Insira o código ou número do contrato ou convênio"
          #contrato="ngModel"
          [maxlength]="140"
          [disabled]="!executaAcao"
          [(ngModel)]="objeto.contrato"
          (blur)="(objeto.contrato && objeto.contrato.length > 0) ? undefined : limparContratado()"
        />
      </div>
      
      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <label class="col-12 col-md-4">Tipos de Plano(s): <span class="obrigatorio">*</span></label>
        <ng-select
          class="multiple col-12 col-md-8"
          placeholder="Selecione os tipos de plano"
          bindValue="value"
          name="planos"
          #planos="ngModel"
          [items]="opcoesTipoPlano"
          [disabled]="!executaAcao"
          [multiple]="true"
          [compareWith]="selecionarTiposPlanos"
          [searchFn]="filtrar"
          [ngModel]="checado && (planos.invalid || objeto.planos?.length === 0) "
          [(ngModel)]="objeto.planos"
        ></ng-select>
      </div>
      
      <div class="d-flex flex-column flex-md-row align-items-md-center">
      <label class="col-12 col-md-4" for="inPossuiOrcamento">Orçamento <span class="obrigatorio">*</span></label>
        <select
          class="col-12 col-md-8"
          id="inPossuiOrcamento"
          name="possuiOrcamento"
          required
          #possuiOrcamento="ngModel"
          [ngClass]="(checado && possuiOrcamento.invalid) ? 'invalido' : ''"
          [disabled]="!executaAcao"
          [(ngModel)]="objeto.possuiOrcamento"
        >
          <option [ngValue]="undefined">Selecionar se dispõe de orçamento</option>
          <option value="total">Já dispõe, totalmente</option>
          <option value="parcial">Já dispõe, parcialmente (indicar no campo Informações Complementares)</option>
          <option value="não">Ainda não dispõe</option>
        </select>
      </div>
    </form>
    
    <div class="recursos my-5">
      <header class="d-flex align-items-center">
        <h4 class="m-0">Valores</h4>
        <fa-icon
          [ngClass]="!executaAcao ? 'disabled' : ''" 
          [icon]="addIcon" 
          (click)=" !executaAcao ? undefined : addExercicio()"
        ></fa-icon>
      </header>
      <spo-avaliacao-exercicio
        *ngFor="let exercicio of objeto.recursosFinanceiros, index as i"
        [disabled]="!executaAcao"
        [exercicio]="exercicio"
        [contratadoEditavel]="!!objeto.contrato"
        [lastElem]="i === objeto.recursosFinanceiros.length-1"
        (onRemover)="removerExercicio($event)"
      ></spo-avaliacao-exercicio>
    </div>
    <div class="acoes d-flex justify-content-end flex-column flex-md-row" *ngIf="executaAcao">
      <button
        *ngIf="objeto?.emEtapa?.devolvido"
        class="btn neutro"
        (click)="doExibirFeedBack()"
      >
        <!-- <span *ngIf="checarEtapaEnum(EtapaEnum.ANALISE_TECNICA); else verParecer"><fa-icon [icon]="parecerIcon"></fa-icon> Vizualizar Parecer</span>
        <ng-template #verParecer><fa-icon [icon]="apontamentoIcon"></fa-icon> Vizualizar apontamentos</ng-template> -->
          
        <fa-icon [icon]="apontamentoIcon"></fa-icon> Vizualizar apontamentos
      </button>
      
      <button
        *ngFor="let acao of acoesNegativas"
        class="btn negativo"
        (click)="executarAcao(acao)"
      >
        <fa-icon [icon]="acao.positivo ? positivoIcon : negativoIcon"></fa-icon>
        {{acao.nome}}
      </button>
      
      <button
        *ngFor="let acao of acoesPositivas"
        class="btn positivo"
        (click)="executarAcao(acao)"
      >
        <fa-icon [icon]="acao.positivo ? positivoIcon : negativoIcon"></fa-icon>
        {{acao.nome}}
      </button>
    </div>
  </main>
</main>
<spo-modal-apontamento
  [ngClass]="exibirModal ? '' : 'esconder-elem'"
  [apontamentos]="objeto.apontamentos"
  [acao]="acaoDoModal" 
  (onFechar)="fecharModal()"
  (onSalvar)="salvarFeedBack($event)"
  [userId]="userId"
></spo-modal-apontamento>
<!-- <spo-fazer-parecer-modal [ngClass]="exibirFazerParecer ? '' : 'esconder-elem'" [parecer]="parecer" [acao]="acaoDoModal" 
    (onClose)="fecharFazerParecer($event)"></spo-fazer-parecer-modal> -->

<!-- <spo-visualizar-parecer *ngIf="checarEtapaEnum(EtapaEnum.ANALISE_TECNICA); else modalApontamento" [ngClass]="exibirVerParecer ? '' : 'esconder-elem'" [parecer]="feedbackAsParecer()" 
    (onClose)="this.exibirVerParecer = false"></spo-visualizar-parecer> -->

<!-- <ng-template #modalApontamento> -->
  <spo-vizualizar-apontamento
    [ngClass]="exibirFeedback ? '' : 'esconder-elem'"
    [apontamentos]="feedbackAsIApontamento()"
    (onClose)="this.exibirFeedback = false"
  ></spo-vizualizar-apontamento>
<!-- </ng-template> -->