<header>
    <h3>Membros ({{qtMembros}})</h3>
    <div id="pesquisa">
        <fa-icon [icon]="searchIcon"></fa-icon>
        <input type="text" [formControl]="txtBusca" placeholder="Procurar" />
    </div>
    <div class="acoes">
        <div class="acao" (click)="mostrarCadastro = true;">
            <fa-icon [icon]="addMembroIcon"></fa-icon>
        </div>
    </div>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th colSpan="2">Membros</th>
                <th>Unidade</th>
                <th>Setor</th>
                <th colspan="2">Papel</th>
            </tr>
        </thead>
        <tbody #tabela>
            <tr *ngFor="let membro of grupo?.membros; index as i">
                <td><img class="avatar" [src]="getAvatar(membro)"></td>
                <td>{{membro.nomeCompleto}}</td>
                <td>{{membro.setor.orgao.sigla}} - {{membro.setor.orgao.nome}}</td>
                <td>{{membro.setor.sigla}}</td>
                <td>{{membro.papel}}</td>
                <td (click)="mostrarSub(i)">
                    <fa-icon [icon]="maisOpcs"></fa-icon>
                    <ul class="menuOpcoes" [ngClass]="subAberto === i ? 'mostrar' : ''" >
                        <li (click)="removerMembro(membro.id)">Remover</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</main>
<spo-grupo-membro-cadastro [ngClass]="mostrarCadastro ? '' : 'esconderModal'" (onClose)="esconderModal($event)" ></spo-grupo-membro-cadastro>