:host {


    display: flex;
    flex-direction: column;
    font-family: var(--fonte-open-sans);
    margin-bottom: 2rem;

    header {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;

        h3 {
            font-weight: bolder;
        }
        div#pesquisa {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: 0.5rem;
            background-color: white;
            padding: 0.3rem;
            border-radius: 0.3rem;

            fa-icon {
                font-size: small;
                color: gray;
            }

            input {
                margin-left: 0.5rem;
                border: unset;
            }

            input:focus {
                outline: unset;
            }
        }

        .acoes {
            margin-left: auto;

            .acao {
                background-color: var(--cor-primaria);
                color: white;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }

    main {
        background-color: white;
        box-shadow: var(--sombra-padrao);
        padding: 1rem;
        border-radius: 6px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        table {

            width: 100%;
            border-collapse: collapse;

            tr {
                border-bottom: black solid 1px;

                td, th {
                    vertical-align: middle;
                }

                th {
                    color: var(--cor-primaria);
                    text-align: start;
                    padding-bottom: 0.5rem;
                }

                td {
                    padding-top: 0.5rem;

                    &:nth-of-type(1){
                        width: 30px;
                    }

                    &:nth-of-type(4){
                        min-width: 5rem;
                    }

                    &:nth-of-type(2){
                        padding-left: 0.5rem;
                    }

                    &:nth-of-type(6){
                        color: var(--cor-primaria);
                        position: relative;
                        cursor: pointer;
                    }
                }

                img.avatar {
                    width: 30px;
                    border-radius: 30px;
                }

                .menuOpcoes{
                    display: none;
                    z-index: 50;
                    position: absolute;
                    right: 0;
                    background-color: white;
                    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
                    min-width: 5rem;
                    border-radius: 4px;
                    overflow: hidden;

                    li {
                        width: 100%;
                        padding: 0.5rem;
                        list-style-type: none;

                        &:hover {
                            color: white;
                            background-color: var(--cor-primaria);
                        }
                    }

                    &.mostrar {
                        display: flex;
                    }
                    
                }
            }

            
        }

    }



    .esconderModal {
        display: none;
    }
}