<div id="tira">
    <div id="invNome">
        <div id="label">Objeto</div>
        <div id="value"><span [title]="objeto.nome">{{objeto.nome | shortString : 70}}</span></div>
    </div>
    <div ngClass="colMenor">
        <div id="label">Tipo</div>
        <div id="value">{{objeto.tipo}}</div>
    </div>
    <div>
        <div id="label">Previsto</div>
        <div id="value">{{objeto.totalPrevisto | customCurrency }}</div>
    </div>
    <div>
        <div id="label">Contratado</div>
        <div id="value">{{objeto.totalHomologado | customCurrency }}</div>
    </div>
    <div>
        <div id="label">Autorizado</div>
        <div id="value">{{objeto.totalAutorizado | customCurrency }}</div>
    </div>
    <div>
        <div id="label">Disponível</div>
        <div id="value">{{objeto.totalDisponivel | customCurrency }}</div>
    </div>
</div>