<div id="pesquisa">
    <fa-icon [icon]="searchIcon"></fa-icon>
    <input type="text" [formControl]="txtBusca" placeholder="Procurar" class="pesquisa"/>
</div>
<div class="listaOpcoes" >
    <div *ngFor="let item of opcoesMenuAdmin">
        <div class="itemMenu" *ngIf="temAcesso.get(item.caminho)" (click)="redirectTo(item.caminho)">
            <div class="icone">
                <span class="material-symbols-outlined">{{item.icone}}</span>
            </div>
            <p>{{item.titulo}}</p>
        </div>
    </div>
</div>
